@import "tailwindcss";
@import './fonts.css';

:root {
  --primary-50: #f0f9fa;
  --primary-100: #e1f3f5;
  --primary-200: #bce6eb;
  --primary-300: #96d9e0;
  --primary-400: #78bcc4;
  --primary-500: #5a9fa8;
  --primary-600: #457a83;
  --primary-700: #30555e;
  --primary-800: #1c3039;
  --primary-900: #002c3e;
  --primary-950: #001a25;
  
  --secondary-50: #f0f4f5;
  --secondary-100: #e1e9eb;
  --secondary-200: #b8d1d6;
  --secondary-300: #8fb9c2;
  --secondary-400: #66a1ad;
  --secondary-500: #4d828d;
  --secondary-600: #3a646e;
  --secondary-700: #27464f;
  --secondary-800: #142830;
  --secondary-900: #000a11;
  --secondary-950: #000508;
}


body {
  font-family: 'Manrope', sans-serif;
  transition: background-color 0.3s, color 0.3s;
  background: #f0f9fa;
  color: #002c3e;
}