@import "tailwindcss";
@import "./fonts.css";

:root {
  --text-default: #1c1d21;
  --blue-primary: #93b2db;
  --blue-light: #cdd9e9;
  --blue-dark: #476d9f;

  --gradient-blue-text: radial-gradient(
    71.66% 199.46% at 92.13% 90.12%,
    #2460b0 0%,
    #7ca9e6 98.77%
  );

  --gradient-blue-card: radial-gradient(
    76.36% 212.87% at 87.43% 91.15%,
    #476d9f 0%,
    #93b2db 55.72%
  );
}

body {
  font-family: "Inter", sans-serif;
  transition: background-color 0.3s, color 0.3s;
}
